* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.Netflix-logo {
    width: 250px;
}

.caixa {
    height: 400px;
    margin: 20px;
    text-align: center;
    background-color: #000000d9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

h1 {
    color: white;
    margin-left: 5px;
    text-align: justify;
}

.placeholder {
    color: #c9c9c9;
    background: #2d2d2d;
    padding: 6px;
    margin: 6px;
    font-size: 15px;
    border: none;
    height: 30px;
    width: 250px;
    border-radius: 3px;
}

.button-entrar {
    color: white;
    background: red;
    border-radius: 3px;
    height: 40px;
    width: 260px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.button-entrar:hover {
    background-color: #d90000;
    transition: 0.7s;
    opacity: 0.9;
}

input .checkbox {
    background: #c9c9c9;
}

h5 {
    color: #c9c9c9;
    margin-top: 15px;
    text-align: center;
}

a {
    color: #c9c9c9;
    margin-left: 35px;
    cursor: pointer;
}

a:hover {
    color: white;
    transition: 0.7s;
    opacity: 1;
}


.low {
  margin-top: 80px;
  text-align: center;
}

.button-face {
    width: 25px;
    background: transparent;
    cursor: pointer;
}   

.conect-face{
    color: #c9c9c9;
}

h4{
    color: #c9c9c9;
    margin-top: 8px;
}

.assinale-agora {
    background: transparent;
    color: #c9c9c9;
    border: none;
    cursor: pointer;
}

.assinale-agora:hover {
    color: white;
    transition: 0.7s;
    opacity: 1;
}